.gradle
build/
!org/src/main/**/build/
!org/src/test/**/build/

### IntelliJ IDEA ###
/.idea/
/gradle/
.DS_Store
*.iws
*.iml
*.ipr
out/
!org/src/main/**/out/
!org/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!org/src/main/**/bin/
!org/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
/org/src/main/java/credentials.json
/gradle/wrapper/gradle-wrapper.jar
/org/src/main/resources/X-TBA-Auth-Key.txt
/src/main/resources/credentials.json
/tokens/
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml